* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #89e5e8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#logo img{
	filter: drop-shadow( 1px 4px 30px rgba(0, 0, 0, 0.2));
	filter: drop-shadow( 0 6px 20px rgba(0, 0, 0, 0.19));
	width: 200px;
  height: 200px;
	margin-top: 60px;
	margin-left: 50px;
	
}

h1{
 text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.logout{
	display: flex;
	align-self: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header ul li {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0;
  text-decoration: none;
}

.logout {
	margin-top: 0px;
	font-size: 16px;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	padding:10px;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
	cursor:pointer;
}

.logout:hover,
.logout a:hover{
	background-color: white;
	color: #89e5e8;
}

.timer{
	 margin: auto;
	 margin-top: 10px;
	 display:flex;
	 justify-self: center;
	 box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
	 border-radius: 10px;
	 height:50px;
	 width:189px;
	 background-color: black;
	 padding:10px;
}

.timer span {
	font-size: 40px;
	color:white;
}

#currentUserDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#currentUserImage {
  width: 50px;
  height: 50px;
	border-radius: 50%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

#currentUserName{
	font-weight: 800;
	font-size: 16px;
	margin-top: 5px;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

#logo {
  font-size: 30px;
}

/* ---------------------------SUBMISSION FORM--------------------------- */

#submissionForm {
	font-family: 'Courier New', Courier, monospace;
  text-shadow:  3px 3px 10px rgba(0,0,0,0.15);
  margin: auto;
  background-color: #8d5dc4;
  border-radius: 8px;
  width: 350px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submissionForm h1 {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subInput {
  width: 50%;
	padding: 2px 5px;
	margin: 10px 10px;
  border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.subInput[type=text]:focus {
  border: 3px solid rgb(97, 96, 96);
}

.subBtn {
  width: 30%;
  margin-top: 6px;
  margin-bottom: 20px;
  text-align: center;
	font-family: 'Roboto', sans-serif;
	outline: none;
	cursor: pointer;
}

.imageInput[type=text]:focus {
  border: 3px solid rgb(97, 96, 96);
}


#photoGallery {
  /* border: 1px solid darkgray; */
	padding: 10px;
  margin: 10px;
  margin-top: 20px;
	display: flex;
	flex-direction: column;
  flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	/* box-shadow: inset 3px 3px 23px -2px rgba(0,0,0,0.40); */
	/* border-radius: 10px; */
	overflow-y: scroll;
}

/* ---------------------------ENTRY--------------------------- */
.outter{
	width: 90%;
	padding:10px;
	
}
.entry {
  border: 1px solid lightgray;
  width: 100%;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,.50);
	border-radius: 10px;
}

.postInfo{
	flex-grow: 1;
	height:160px;
	box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
	border-radius: 10px 0 0 10px;
}

.votes{
	font-size:30px;
	font-weight:800;
	margin-left: 5px;
	margin-top: 2px;
	text-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.thumbsBtn {
	background-color: transparent;
	border: 1px solid transparent;
	width: 30px;
	height: 30px;
	outline:none;
	margin-top: -1px;
	margin-left:5px;
	cursor:pointer;
}

.thumbs {
	width: 30px;
	height: 30px;
	color: steelblue;
	border-color: transparent;
	margin-top:-13px;
	text-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.userEntry {
  text-align: left;
	font-size: 25px;
	margin: 5px 0px;
	font-weight: 500;
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
  /* make a border box and add margin */
}

.entryImg {
  width: 100px;
	height: 120px;
	margin-top: -25px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	box-shadow: 1px 1px 10px rgba(0,0,0,1);
	text-align: center;
	justify-self: center;
}

.entryImg img {
	width:90px;
	height:110px;
	margin:5px 0px;
}

.description {
	margin-top: 5px;
}


.commentHolder {
	background-color: #89e5e8;
  display: flex;
	flex-direction: column;
	flex-grow: 4;
	padding:10px;
	justify-content: flex-end;
}

.commentArea{
	background-color: white;
	overflow-y: scroll;
	height: 87px;
	margin-bottom: 10px;
}

.comments {
  width: 80%;
  background-color: white;
  border: 2px;
  border-radius: 5px;
  margin: 3px;
}

.commentBtn {
	outline: none;
	cursor: pointer;
	width: 90px;
	margin: 5px 5px -5px 5px;
	background:    #9b49d2;
	background:    -webkit-linear-gradient(#9b49d2, #c855c8);
	background:    linear-gradient(#9b49d2, #c855c8);
	border-radius: 1000px;
	box-shadow:    1px 1px #444444;
	padding:       1px 10px;
	color:         #ffffff;
	display:       inline-block;
	font-size:     14px;
	font-weight: 	 800;
	font-family: 	"Caviar", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
}

.commentInput {
	float: right;
	padding-left: 10px;
	margin-right: 30px;
  border-radius: 7px;
	width: 98%;
}

.deleteBtn {
  height: 20px;
	width: 50px;
	border-radius: 7px;
	
}

#footer {
  width: 100%;
  height: 50px;
  padding: 10px;
  color: white;
  bottom: 0;
  position: relative;
  text-align: center;
  background-color: rgb(36, 35, 35);
}


/* Add CommentCollapse 

Message Input

Message @Esther

*bold* _italics_ ~strike~ `code` ```preformatted``` >quote
Workspace Directory

Madalyn Baehre 
Call
Message */

