* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #89e5e8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#logo img{
	filter: drop-shadow( 1px 4px 30px rgba(0, 0, 0, 0.2));
	filter: drop-shadow( 0 6px 20px rgba(0, 0, 0, 0.19));
	width: 200px;
  height: 200px;
	margin-top: 60px;
	margin-left: 50px;
	
}

h1{
 text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.logout{
	display: flex;
	align-self: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header ul li {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0;
  text-decoration: none;
}

.logout {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#currentUserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#currentUserDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  font-size: 30px;
}

/* ---------------------------SUBMISSION FORM--------------------------- */

#submissionForm {
	font-family: 'Courier New', Courier, monospace;
  text-shadow:  3px 3px 10px rgba(0,0,0,0.15);
  margin: auto;
  background-color: #8d5dc4;
  border-radius: 8px;
  width: 350px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submissionForm h1 {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subInput {
  width: 50%;
	padding: 2px 5px;
	margin: 10px 10px;
  border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.subInput[type=text]:focus {
  border: 3px solid rgb(97, 96, 96);
}

.subBtn {
  width: 30%;
  margin-top: 6px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.imageInput[type=text]:focus {
  border: 3px solid rgb(97, 96, 96);
}

#photoGallery {
  /* border: 1px solid darkgray; */
	padding: 10px;
  margin: 10px;
  margin-top: 40px;
	display: flex;
	flex-direction: column;
  flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	/* box-shadow: inset 3px 3px 23px -2px rgba(0,0,0,0.40); */
	/* border-radius: 10px; */
}

/* ---------------------------ENTRY--------------------------- */
.outter{
	width: 90%;
	padding:10px;
	
}
.entry {
  border: 1px solid lightgray;
  width: 100%;
	display: flex;
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,.50);
	border-radius: 10px;
}

.userEntry {
  text-align: left;
	font-size: 25px;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  /* make a border box and add margin */
}

.entryImg {
  width: 150px;
  height: 150px;
}


.thumbsBtn {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.thumbs {
  width: 20px;
  height: 20px;
  color: steelblue;
  border-color: transparent;
}

.commentHolder {
  display: flex;
  flex-direction: column;
}

.comments {
  width: 80%;
  background-color: white;
  border: 2px;
  border-radius: 5px;
  margin: 3px;
}

.commentBtn {
  width: 50px;
  padding: 0 3px;
}

.commentInput {
  float: right;
  border-radius: 7px;
  width: 300px;
}

.deleteBtn {
  height: 20px;
  width: 50px;
}

#footer {
  width: 100%;
  height: 50px;
  padding: 10px;
  color: white;
  bottom: 0;
  position: relative;
  text-align: center;
  background-color: rgb(36, 35, 35);
}


/* Add CommentCollapse 

Message Input

Message @Esther

*bold* _italics_ ~strike~ `code` ```preformatted``` >quote
Workspace Directory

Madalyn Baehre 
Call
Message */

